@use "../custom-style/variables" as *;

.info-box {
  $info-box: &;

  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: var(--info-box-height);
  background: var(--bg-color);
  padding: 0 calc(env(safe-area-inset-right) + #{$padding-page}) env(safe-area-inset-bottom)
    calc(env(safe-area-inset-left) + #{$padding-page});

  & * {
    @extend .body-font;
    mix-blend-mode: normal;
    color: var(--color-primary);
    text-align: center;
    text-transform: none;

    @include breakpoint(sm) {
      text-align: left;
    }
  };

  &__header {
    width: 100%;
    height: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #{$info-box}__button {
      position: relative;

      button {
        background: transparent;
        border: none;
        padding: 0;
        padding-right: 2em;
        text-transform: uppercase;

        &::after,
        &::before {
          content: "";
          width: 0.8em;
          height: 0.07em;
          background: var(--color-primary);
          position: absolute;
          right: 1em;
          top: 0.6em;
          transform-origin: center center;
          transition: transform 200ms ease, opacity 100ms ease 100ms;
        }
        //
        &::after {
          transform: rotate(90deg);
        }
        &::before {
          transform: translateY(-50%);
        }
      }
    }

    .info-box__logo {
      transition: all 200ms ease;
      img {
        margin-top: 0.1em;
        height: 0.85em;
        object-fit: contain;
      }

      &:hover {
        padding-right: 0.5rem;
        img {
          filter: none;
        }
      }
    }
  }

  &__container {
    position: absolute;
    left: 0;
    bottom: var(--info-box-height);
    width: 100%;
    height: calc(var(--viewport-height) - var(--info-box-height));

    display: grid;
    gap: $padding-page * 2;

    padding: 1em $padding-page;
    background: var(--bg-color);
    overflow-y: scroll;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
    transform: translateY(100%);

    @include breakpoint(sm) {
      grid-template-columns: repeat(4, 1fr);
      bottom: 0;
      height: max-content;
      overflow: visible;
    }

    .info-box__symbol {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 80vw;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 400ms ease-in 200ms;
      z-index: -1;

      @include breakpoint(sm) {
        position: relative;
        width: 20vw;
        padding-top: 40px;
        transform: translate(-00%, -20%);
        transition: all 1s ease;
      }

      img {
        filter: invert(1);
        opacity: 0.4;

        @include breakpoint(sm) {
          filter: none;
        }
      }
    }

    > .info-box__panel {
      padding-bottom: 2em;

      h3 {
        padding-bottom: 1em;
        text-transform: uppercase;
      }

      > div {
        padding-bottom: 1em;
      }
    }

    #mc_embed_signup form {
      padding: 0;

      input.email {
        width: 100%;
        @extend .body-font;
        mix-blend-mode: normal;
        text-transform: none;
        border: none;
        border-bottom: 1px solid var(--color-bg-darker);
        background: transparent;
        border-radius: 0;
        padding: 0;
      }
      input.button {
        @extend .body-font;
        mix-blend-mode: normal;
        border: none;
        background: transparent;
        padding: 0;
        border-radius: 0;
        margin: 0;
        width: 100%;

        @include breakpoint(sm) {
          text-align: left;
        }
      }
    }
  }

  &--open {
    #{$info-box}__button button::after {
      transform: rotate(0deg);
      opacity: 0;
    }
  
    #{$info-box}__container {
      transform: translateY(0%);
    }

    #{$info-box}__symbol {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}
