@use "../custom-style/variables" as *;
@use "sass:color";

:root {
  font-size: 18px;
  
  --font-sm: 0.85rem;
  --font-md: 1rem;
  --font-lg: 1.7rem;
  --font-xl: 2.1rem;
  --viewport-height: 100vh;
  --info-box-height: 36px;
  --swiper-navigation-size: 1.2rem;
  --max-content-width: calc(100vw - 2 * #{$padding-page});
}

@include breakpoint(xs) {
  :root {
    --font-xl: 3rem;
    font-size: 18px !important;
  }
}

// GENERAL SETTINGS AND CLASSES

@view-transition {
  navigation: auto;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding: $padding-top; // height of the fixed element
  font-family: $font-heading;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  overscroll-behavior: none;
}

.is-active {
  @extend .accent-color-difference;
  // color: black;
  // position: relative;

  // &::before {
  //   content: "";
  //   background: var(--bg-color);
  //   position: absolute;
  //   inset: 0 -0.3em;
  //   z-index: -1;
  // }
}

.heading-font {
  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: var(--font-lg);
  color: var(--color-primary);
}

.body-font {
  font-family: $font-body;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: var(--text-md);
  color: var(--color-primary);
}

p,
h3,
h4,
h5 {
  @extend .body-font;
  text-transform: none;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-lines: 2;

  a {
    text-decoration: underline;
    color: var(--bg-color);
  }
}

a {
  color: var(--color-bg);
  opacity: 1;
  text-decoration: none;
  position: relative;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p:empty {
  display: none !important;
}

.main-container {
  background: var(--color-bg);
  left: env(safe-area-inset-left);
  right: env(safe-area-inset-right);
  padding-inline: $padding-page;
  padding-top: $padding-top;
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--info-box-height) + #{$padding-page});
  animation: fadeContainerIn 200ms linear forwards;
}

.close-window-icon {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
  cursor: pointer;
  background: none;
  border: none;

  &::after,
  &::before {
    content: "";
    width: 60%;
    height: 2px;
    background: black;
    position: absolute;
    top: 14px;
    right: 4px;
    transform-origin: center;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fadeContainerIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fullscreen {
  @include breakpoint(sm) {
    max-height: unset !important;
    max-width: 89vw;
  }
}
