@use "../custom-style/variables" as *;

// NAVIGATION

.navigation {
  @extend .body-font;
  mix-blend-mode: difference;
  color: white;
  position: fixed;
  top: $padding-page;
  left: calc(#{$padding-page} + env(safe-area-inset-left));
  right: calc(#{$padding-page} + env(safe-area-inset-right));
  z-index: 10;
  display: flex;
  border-bottom: 1px solid var(--color-white);

  @include breakpoint(sm) {
    width: unset;
    left: unset;
    flex-direction: row-reverse;
    border: none;

    ul li {
      margin-left: 1em;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo-typo {
    position: fixed;
    display: block;
    top: 2.3em;
    z-index: 11;
    img {
      filter: invert(1);
      height: 0.82em;
      margin-top: 0.1em;
      max-width: unset;
    }

    @include breakpoint(sm) {
      display: block;
      position: relative;
      margin-top: 0.04em;
      margin-left: 1em;
      top: 0;
    }
  }

  a {
    transition: color 200ms ease;
  }
}

header {
  @extend .body-font;
  mix-blend-mode: difference;
  color: white;
  position: fixed;
  top: 2.2em;
  left: $padding-page;
  right: $padding-page;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  grid-row: 1;
  z-index: 10;

  .sub-menu {
    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }

  @include breakpoint(sm) {
    width: max-content;
    top: $padding-page;
    left: 0;
    font-family: $font-heading;
    letter-spacing: 0.02em;
    font-size: var(--font-heading);
    padding-left: $padding-page;

    .sub-menu {
      & ul:first-child {
        & > li {
          margin-right: 1em;
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
