@use "../custom-style/variables" as *;

// NAVIGATION

.navigation {
  @extend .body-font;
  position: sticky;
  top: 0;
  padding: $padding-page;
  min-height: $header-height;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-white);

  @include breakpoint(sm) {
    border: none;
  }

  &__logo {
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    > a {
      height: 100%;
    }
    
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      view-transition-name: logo;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__main-menu {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex: 0 0 auto;
  }
}
